%h2 
	= t('goods')

.row-fluid.goods.dotted
	.span3.sections.menu
		- @sections.each do |section|
			- is_open = @current_section_id == section.id
			- is_active = (is_open and not @current_category_id)
			%div.section{ conditional_class(:open => is_open, :active => is_active), "data-section-id" => section.id }
				= link_to section.title, section_goods_path(section)
			- if section.id == @current_section_id
				.categories
					- section.categories.each do |category|
						%div.category{ conditional_class(:active => @current_category_id == category.id), "data-category-id" => category.id }
							= link_to category.title, category_goods_path(section, category)

	.span9.goods-list
		- @goods.each do |good|
			.row-fluid
				.span12.good{ 'data-good-id' => good.id }
					.row-fluid
						.span3
							= image_tag good.avatar.url(:thumb)
						.span9{ :class => 'padding-text' }
							.row-fluid{ :style => 'height: 100px; max-height: 100px;' }
								= link_to good.title, good_path(good), :class => 'title'
								%div
									= good.announcement.html_safe
							.row-fluid
								.span3.offset9{ :class => 'price' }
									%h4{ :align => "center" }
										= number_to_currency(good.price, :precision => 0)

		= will_paginate @goods, :inner_window => 1